.doctor-box {
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: auto;
	padding: 0 10px;
	box-sizing: border-box;
	align-items: start;
	position: relative;
}

.doctor-information {
	width: calc(100% - 180px - 30px);
}

.doctor-title {
	box-sizing: border-box;
	font-weight: 600;
	font-size: 25px;
	margin-top: 0;
}


.doctor-text, .doctor-bold {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 7px;
	font-weight: 300;
}

.doctor-bold {
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.doctor-high {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 300;
}


.doctor-photo {
	position: sticky;
	top: 160px;
}



.doctor-photo img {
	display: block;
	box-shadow: 0 0 2px 0 #8886F9;
}

.button__small {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	margin-top: 20px;
	font-size: 13px;
}