.left-title {
	font-weight: 600;
	font-size: 2.7rem;
	letter-spacing: 0.2px;
}



.screen__offset {
	margin-top: 170px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;

}

.offer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
}

.offer-menu {
	width: 240px;
	position: sticky;
	top: 150px;

}

.offer-menu-title {
	font-size: 1.6rem;
	font-weight: 600;
}

.offer-menu-item {
	display: block;
	text-decoration: none;
	color: #444;
	font-size: 1.3rem;

	box-sizing: border-box;

	padding-top: 5px;
	padding-bottom: 5px;

}

.offer-boxes {
	width: calc(100% - 240px - 30px);
	width: 100%;

}

.left-subtitle {
	font-weight: 600;
	font-size: 1.7rem;
	margin-bottom: 30px;
	margin-top: 40px;
	user-select: none;
	-webkit-user-select: none;


}


/*Старая версия*/
/*.offer-box {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 25px;
	background-color: #fff;
	margin-bottom: 15px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
	cursor: pointer;
	user-select: none;
	margin-bottom: 20px;
	transition: 0.5s;
	text-decoration: none;
	display: block;
}

.offer-title {
	color: #5F5DD6;
	font-weight: 600;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	transition: 0.3s;

}
*/

.offer-box {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 15px;
	background-color: #fff;

	box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
	cursor: pointer;
	user-select: none;
	margin-bottom: 10px;
	transition: 0.5s;
	text-decoration: none;
	display: block;
}

.offer-title {
	color: #5F5DD6;
	font-weight: 600;
	font-size: 13px;
	display: flex;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	transition: 0.3s;
	margin: 0;
}




.offer-toggle-item {
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-out;

	background-color: #fff;
	padding: 0px 25px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
	box-sizing: border-box;
	margin-bottom: 25px;
	margin-top: -4px;
	font-size: 1.5rem;

}

.offer-toggle-item-content {
	padding-top: 20px;
	padding-bottom: 20px;
	user-select: none;
	-webkit-user-select: none;
}



.arrow-down {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	fill: #5F5DD6;
	transition: 0.3s;
	margin-top: 2px;
	transform: rotate(-90deg);
}

.info {
	font-size: 15px;
	line-height: 1.6;
	text-align: left;
}




