* {
	-webkit-appearance: none;
}

body, html {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	position: relative;
	transition: 0.3s;
	background-color: #fafafa;
}

h2, h3, h4 {
	font-weight: 400;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	padding-top: 10px;
	margin: 35px auto;
	line-height: 2;
	flex-wrap: wrap;
}

.breadcrumb {
	text-decoration: none;
	color: #8886F9;
	font-size: 11px;
}

.delim {

	display: inline-block;
	fill: #999;
	width: 10px;
	height: 10px;
	padding-left: 7px;
	padding-right: 7px;

}


.body-wrapper {
	width: 100%;
	margin: auto;
	position: relative;
	padding: 30px;
	padding-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1200px;

}


.content-wrapper {
	width: calc(100% - 100px);
}

.wrapper-image {
	margin-top: 50px;
	margin-bottom: 50px;
}

.wrapper-image img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.text:first-child {
	margin-top: 0;
}
.text {
	font-size: 1.5rem;
	line-height: 1.7;
	text-align: justify;
	font-weight: 300;

	letter-spacing: 0.3px;
}

.content-title {
	font-size: 2.25rem;
	margin-top: 35px;
	margin-bottom: 20px;
	font-weight: 500;
}

.screen {
	width: 100%;
	
	/*max-height: 800px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}


.screen__first {
	height: calc(100vh - 180px);
	min-height: 550px;

	margin-top: 50px;


	border: 1px solid  #444;

	background-image: url(../img/IMG_5277.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

	position: relative;
	z-index: 0;

	max-height: 900px;
}

.screen__first:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	content: '';
	z-index: -1;

}

.buttons-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	margin: 0 auto;

	max-width: 760px;
	width: 100%;

	margin-top: 40px;

	z-index: 100;
}

.button {
	text-decoration: none;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-appearance: none;
	border-radius: 0;

	padding: 15px 30px;

	
	color: #444;
	font-weight: 400;
	font-size: 1.4rem;


	background-color: #ececec;
	color: #444;

	transition: 0.3s;

	white-space: nowrap;
}


.button__line {
	width: calc(100% / 3 - 5px);
}


button:focus { outline:0 !important; }


.button__accent {
	background-color: #8886F9;
	color: #fff;
	text-shadow: 0px 0px 2px #666;
}


.button__wide {
	min-width: 240px;
	margin-top: 10px;
	width: 300px;
}


.js-button {
	padding-left: 0;
	padding-right: 0;
	margin-left: 25px;

	transition: 1s;
}


.h3 {
	text-align: center;
	font-size: 1.7rem;
	font-weight: 400;
	margin-top: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #444;
	font-weight: 300;
}

.title {
	text-align: center;
	font-size: 4.5rem;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px 1px #444;
	letter-spacing: 0.3px;
}






.screen__second {
	
	width: calc(100% - 50px);
	width: 100%;
	margin: auto;
	margin-top: 50px;
	flex-wrap: nowrap;
	margin-bottom: 100px;
}

.accordion-item-img {
	width: 50%;
	height: 300px;
	background-color: #eee;
	border: 1px solid #444;
	margin-right: 40px;
}


.accordion-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
	position: relative;
	height: 100%;
}

.accordion-item-wrapper {
	width: calc(50% - 20px);
	position: relative;
}

.accordion-item-title {
	font-size: 2.1rem;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 30px;
}
.accordion-item-text {
	line-height: 1.5;
	font-size: 1.5rem;
	font-weight: 300;
}

.button__abs {
	margin-top: 30px;
	min-width: 180px;

}



.accordion-line {
	width: 100%;
	margin-bottom: 50px;
}
.accordion-line-item {
	border-bottom: 1px solid #444;
	display: inline-block;
	padding-bottom: 5px;
	font-weight: 400;
	font-size: 1.5rem;

} 


.slick-prev, .slick-next  {
	position: absolute;
	top: calc(50% - 20px);
	left: 0;
	/*border: 1px solid #444;*/
	box-shadow: none;
	border: none;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	padding: 6px;
	cursor: pointer;
	transition: 0.3s;
}

.slick-prev img, .slick-next img {
	max-width: 100%;
	display: block;
	margin: auto;
	height: auto;
}

.slick-next  {
	left: auto;
	right: 0;
}

.slick-next:active, .slick-prev:active {
	border-color: #8886FF;;
}






.accordion-box {
	width: 100%;
	padding: 0 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;

	position: relative;
}











.screen__login {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 185px);
	flex-direction: column;
	flex-wrap: nowrap;
}




.screen__login {
	margin-top: 130px;

}

.screen-title {
	font-weight: 400;
	font-size: 2.5rem;
	text-align: center;
}

.screen-text {	
	text-align: center;
	line-height: 1.5;
	font-size: 1.4rem;
	
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;

	width: 100%;
	max-width: 700px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
}


.screen-logo-wrapper {
	width: 90px;
}


.screen-logo {
	max-width: 100%;
	height: auto;
	display: block;
}

.input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	border-radius: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	height: 45px;
	min-width: 300px;	

	padding-left: 10px;
	
	border: 1px solid #aaa;

	font-size: 15px;
	font-family: Arial;
	font-weight: 300;

	position: relative;

	background-color: transparent;	
}

.input:focus {
	border-color: #8886F9;;
}

input[type="submit"] {
	border: none;
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;

	min-width: 300px;	
	height: 50px;
	
	margin-top: 10px;
	
	cursor: pointer;

	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.5px;
}


.input-wrapper {
	position: relative;
	margin-top: 10px;
}


.phone-label {
	font-family: monospace;
	color: #aaa;

	position: absolute;
	top: 14px;
	left: 29px;
}


::placeholder {
	font-family: Arial;
}

.container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: block;

	position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 22px;
	margin-bottom: 12px;

	cursor: pointer;

	font-size: 12px;
	
	width: 100%;
}

.container input {
	position: absolute;

	opacity: 0;

	cursor: pointer;

	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;

	height: 16px;
	width: 16px;

	background-color: #eee;
}

.container input:checked ~ .checkmark {
	background-color: #8886F9;;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 5.76px;
	top: 3.2px;
	width: 3.2px;
	height: 6.4px;
	border: solid white;
	border-width: 0 1.92px 1.92px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.checkbox-link {
	color: #444;;
	transition: 0.15s;
	padding: 3px 9px;
	border-radius: 2px;
	display: inline-block;
}



.checks {
	margin-top: 20px;
	width: 300px;
}


.subtitle {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}



.slick-dots
{
    position: absolute;
    bottom: -50px;
	left: 0;
	right: 0;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}


.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}


.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
	border-radius: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-size: 0px;
    line-height: 20px;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 10px;
    height: 10px;

    content: '•';


    opacity: .25;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 50%;
    background-color: #444;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
}

.slick-slide {
	margin: 0 10px;
}

.slick-list {
	margin: 0 -10px;
}

.inputs-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.input-row {
	width: calc(50% - 5px);

}

.input-row .input-wrapper {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.input-row .input {
	width: 100%;
	font-size: 13px;
}


.footer {
	padding-top: 20px;
	padding-bottom: 30px;
	box-sizing: border-box;
}


.line {
	background-color: #ccc;
	height: 1px;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 70px;
}


.footer-text {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 10px;
	text-decoration: none;
	color: #222;
	display: block;
	transition: 0.2s;
}

.footer-title {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
}



.footer-link {
	color:  #8886F9;

	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 10px;
	display: block;
	transition: 0.2s;

}


.footer {
	max-width: 1200px;
	margin: auto;

	height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
}

.footer-column {
	width: calc(100% / 4 - 20px);
	max-width: 240px;
}

.footer-column+.footer-column {
	margin-left: 15px;
}

.footer-logo {
	width: 90px;
	height: 69px;
	background-color: #fff;
	padding: 10px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;	
}

.footer-logo img {
	width: 70px;
	height: 49px;
}

.social-links {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	width: 130px;

}

.social-link {
	border-radius: 50%;
	padding: 7px;
	box-sizing: border-box;
	border: 2px solid  #8886F9;
	margin-right: 10px;
	background-color: #fff;
	transition: 0.2s;
}

.social-link svg {
	fill: #8886F9;
	transition: 0.2s;
}

.social-link:last-child {
	margin-right: 0;
}

.social-image {
	width: 20px;
	height: 20px;
	display: block;
}













.accordion-item__promo-page {
	margin-bottom: 50px;
}



.accordion-item__promo-page:last-child {
	margin-bottom: 80px;
}








/*.select {
	height: 50px;
	width: 300px;
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 14px;
	border-radius: 0;
	color: #8886F9;

	border: 1px solid #8886F9;
	cursor: pointer;

}
*/
.custom-select {
  position: relative;
  font-family: Roboto;
  max-width: 280px;
  width: 50%;
  white-space: nowrap;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 12px;
  width: 0;
  height: 0;

  border: 6px solid transparent;
  border-color: #8886f9 transparent transparent transparent;

  /*border: 1px solid #8886f9;*/
}

.select-selected {
	width: 100%;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #8886f9 transparent;


  top: 12px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #8886f9;
  padding: 12px 16px;



  border: 1px solid #8886f9;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-size: 13px;
  background-color: #fff;
  font-weight: 300;
  box-sizing: border-box;
}


.select-items div {
	border-bottom-color: transparent; 
}
.select-items div:first-child {
	border-top-color: transparent; 
}

.select-items div:last-child {
	border-bottom-color:  #8886f9;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(136, 134, 249, 0.1);
}

.doctor-row {
	display: flex;
	width: 100%;
	margin-top: 30px;
	align-items: center;
	justify-content: space-between;

}
.filters {
	display: flex;
	align-items: center;

	width: calc(100% - 140px);

}


.wrapper-select {
	display: flex;
	width: 60%;

}

.wrapper-wrapper-switch {
	display: flex;
}

.custom-select {
	margin-right: 30px;
}


.doctors-box {
	display: flex;
	flex-wrap: wrap;

	margin-top: 40px;

}

.doctor-item {
	width: calc(100% / 5 - 16px);
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.doctor-item:nth-child(5n) {
	margin-right: 0;
}

.doctor-item:nth-child(6n), .doctor-item:first-child {
	margin-left: 0;
}

.doctor-item-image {
	width: 100%;
	height: 290px;
	background-image: url(../img/emelyanenko.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
	transition: 0.3s;
}

.doctor-item-name {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 1.5;
	display: block;
	text-decoration: none;
	color: #222;
	transition: 0.3s;
}
.doctor-item-direction {
	font-size: 13px;
	color: #999;
	margin-top: 10px;
	margin-bottom:10px;
	font-weight: 300;
	line-height: 1.5;
}
.doctor-item-exp {
	color: #8886f9;
	font-size: 13px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}
.doctor-item-info {
	font-size: 13px;
	font-weight: 300;
	color: #777;
	line-height: 1.5;
}

.button__100 {
	margin-top: 20px;
	width: 100%;
	font-size: 13px;
}























input.switch {
  font-size: 6px;
  position: relative;
  display: inline-block;
  appearance: none;
  width: 9em;
  height: 4.6em;
  line-height: 4.6em;
  border-radius: 2.3em;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 0.2em #eee;
  outline: 1px solid transparent !important;
  cursor: pointer;
  border: none;
  background: transparent;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
  transition-delay: .1s, 0s;
  /* Animations if supported */
}
input.switch:checked {
  transition-delay: 0s, 0s;
  box-shadow: inset 0 0 0 2.62857em #8886f9 !important;
  padding-left: 4.4em;
}
input.switch.hit {
  animation: slide-off .35s ease both;
}
input.switch.hit:checked {
  animation: slide-on  .35s ease both .05s;
}
input.switch::before, input.switch::after {
  content: "";
}
input.switch::after {
  /* Increases hit area */
  position: absolute;
  top: -1.4em;
  left: -1.4em;
  bottom: -1.4em;
  right: -1.4em;
}
input.switch::before {
  display: inline-block;
  height: 4.2em;
  width: 4.2em;
  margin: 0.2em 0 0 0.2em;
  background-color: #fff;
  border-radius: 2.1em;
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  transition: all .1s ease .1s;
}
input.switch:active::before {
  transition: all .1s ease .05s;
}
input.switch.touch:hover::before {
  transition: all .0s ease .00s;
}
input.switch:active::before, input.switch.touch:hover::before {
  width: 5em;
}
input.switch:active:checked::before, input.switch.touch:hover:checked::before {
  margin-left: -0.6em;
}

@keyframes slide-on {
  0% {
    padding-left: 0em;
  }
  60% {
    padding-left: 4.8em;
  }
  100% {
    padding-left: 4.4em;
  }
}
@keyframes slide-off {
  0% {
    padding-left: 4.4em;
    text-indent: 0;
  }
  60% {
    padding-left: 0em;
    text-indent: -0.4em;
  }
  100% {
    padding-left: 0em;
    text-indent: 0;
  }
}



.switch-wrapper {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.switch-wrapper span {
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 300;
}

.reset {
	font-size: 14px;
	color: #8889f9;
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.contact-box {
	margin-top: 35px;
	margin-bottom: 35px;
}

.contact-title {
	margin-top: 0;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
	line-height: 1.5;

}

.contact-phone {
	text-decoration: none;
	color: #222;
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 8px;
	margin-top: 8px;	
	line-height: 1.5;
}

.contact-time {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
}
 .contact-geo	 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 15px;
	line-height: 1.5;
}

.contact-text {
	font-weight: 400;
	font-size: 18px;

	line-height: 1.5;
}




