
.calendar-text {
	font-size: 12px;
	color: #8F8F8F;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.time-item {
	width: calc(100% / 3 - 10px);
	height: 35px;
	background-color: #e1e1e1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 12px;
	margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	margin-right: 5px;
	margin-left: 5px;
	transition: 0.4s;
}

.time-item__active {
	background-color: #8886FF;
	color: #fff;
}

.time-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	/*justify-content: space-between;*/
	flex-wrap: wrap;
	width: 100%;

}

.screen-box {

	max-width: 800px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}



.calendar-wrapper {
	width: 250px;
	/*height: 300px;*/
	/*background-color: #ddd;*/
	margin-bottom: 40px;
	
}

.time-wrapper {
	width: calc(100% - 300px);	
	/*max-width: 380px;*/
	height: auto;
	/*background-color:  #aaa;*/
	margin-bottom: 20px;

}

.cal-link {
	color: #8886FF;
	text-decoration: none;
}

.doctor-name {
	width: 100%;
	height: 20px;
	/*background-color: #eee;*/

	font-size: 14px;
}
.doctor-name {
	margin-bottom: 10px;
}
.button-box {
	width: 100%;
	height: 300px;
	/*background-color: #999;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.cal-line {
	background-color: #ccc;
	height: 1px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}


.screen__cal {
	margin-top: 180px;
}


.datepicker--cell {
	transition: 0.3s;
}
.datepicker--cell.-selected-.-focus-, 
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-
{
	background-color: #8886FF;

}

.datepicker--cell.-current-, .datepicker--day-name  {
	color:  #8886FF;
}




.button-box {

}


.button__size {
	width: 100%;
}

.code-input {
	min-width: 240px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.-disabled- {
	color: #ccc;
}

.datepicker--cell.-disabled-, .datepicker--cell.-disabled-.-focus- {
	color: #ddd;
}






.doctors {
	max-width: 800px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*padding: 30px;*/
	padding: 10px 30px; 

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}


.doctor {
	width: calc(100% / 2 - 15px);
	/*height: 200px;*/
	border: 2px solid #ddd;
	margin-bottom: 30px;

	display: flex;

	padding-right: 5px;
	box-sizing: border-box;
	align-items: center;

	transition: 0.3s;
	cursor: pointer;
}
.doctor-info {
	width: calc(100% - 130px - 15px);
}

.doctor-image {
	/*height: 100%;*/
	width: 130px;
	height: 180px;
	margin-right: 15px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

}
.doctor-image img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	object-fit: contain;
}



.doctor-fullname {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-bottom: 15px;


}

.doctor-direction {
	
	font-size: 13px;
	margin-bottom: 15px;

}

.doctor-practice {
	font-size: 12px;

	color: #777;

	margin-top: 10px;
	margin-bottom: 10px;
}

.doctor-more {
	
}


.doctor__active {
	border-color: #8886F9;;
}




.screen__margin0 {
	margin-top: 0;
}






