body {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	outline: none;
}
:root {
	/*--main: #231F20;*/
	--main: #3e516f;
	/*--hover: #384965;*/
	--hover: #455a7c;
	--grey: #b9b9c9;
	--hover_grey: #a9a9b9;
	--if: #98a3c3;
	--input: #f7f7fb;
}


@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(5px); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(5px); }
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00002040;
	right: 0;
	z-index: 10;
	bottom: 0;
	outline: none;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;	
}

.modal__slide {
  display: none;
}

.modal__slide.is-open {
  display: block;
}

.modal__slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal__slide[aria-hidden="false"] .modal-content {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal__slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal__slide[aria-hidden="true"] .modal-content
{
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal__slide .modal__container,
.modal__slide .modal-overlay {
  will-change: transform;
}


.modal-content {
	background-color: #fff;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 25px 3px rgba(0,0,0,0.4);
	border-radius: 5px;
	transition: 0.15s;
	user-select: none;
	cursor: unset;
}

.modal-title {
	width: 100%;
	margin-bottom: 10px;
}

.modal-content .modal-text {
	width: 100%;
	margin-top: 0;
	padding-top: 0;	
}

.header {
	background-color: var(--main);
	height: 50px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 40px;
	transition: 0.3s;
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
	display: inline-flex; 
	justify-content: space-between;
	-ms-align-items: center;
	outline: none;	
	align-items: center;

}

.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	justify-content: flex-start;
	position: relative;
}

.topnav {
	display: flex;
	justify-content: space-between;
	width: 35%;
	min-width: 400px;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
}
.link {
	text-decoration: none;
	color: white;
	font-size: 15px;
	line-height: 1;
	display: inline-block;
}
.nav-link {	
	padding: 15px 20px;
	display: inline-flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-weight: 500;
	height: 100%;
	transition: color 0.2s, background-color 0.4s, font-size 0.3s;
	position: relative;
	padding: 0 10px;
	transition: 0.5s;
	z-index: 10;
	height: 100%;
	overflow: hidden;
}
.logo {
	font-size: 19px;
	line-height: 1;	
}
.main-logo {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 30px;
}
.logo {
	margin-right: 50px;
	height: 100%;
	padding: 15px 0;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	user-select: none;
}

.logo-image {
	height: 100%;
	width: auto;
}

#enter {
	padding-left: 20px;
	padding-right: 20px;
}
.help {
	width: 32px;
	padding: 0 5px;
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	outline: none;
	cursor: pointer;
}

.help svg {
	display: block;
	fill: white;
	width: 32px;
	height: 32px;
		transition: 0.3s;
}

.flags_modal {
	position: absolute;
	top: 49px;
	left: 0;
	opacity: 0;
	transition: 0.3s opacity, 0.5s transform;
	visibility: hidden;
	transform: translateY(5px);
	z-index: 10;
	
}

.flags {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	padding: 5px 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}



.flag {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 5px 0;
	text-decoration: none;
	opacity: 0.7;
	transition: 0.3s;
}
.flag-img {
	min-width: 31px;
	min-height: 31px;
	/*background-image: url(rus.png);*/
	background-position: center;
	background-size: 105%;
	display: block;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	
	
}

.flag-text {
	padding-left: 5px;
	text-decoration: none;
	color: #000;
	font-size: 12px;
}

.flag-img+.help {
	margin-left: 10px;
}

/*.flag+.flag {
	margin-left: 5px;
}*/
.visibity {
	visibility: visible;
	
}

.opacity {
	opacity: 1;
	transform: translateY(0);
}

.box {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 40px;
	flex-wrap: wrap;
}

.content {
	width: 55%;
	min-width: 400px;
	padding-right: 4.5%;
}

.content-title {
	font-size: 32px;
	line-height: 1.3;
	margin-bottom: 0;
}

.content-points {
	padding: 10px 0;
}

.content-point {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
}

.icon {
	width: 36px;
	height: 36px;
}

.icon_title {
	font-size: 15px;
	width: 180px;
	text-align: center;
}

.modal-text {
	line-height: 1.5;
	width: 60%;
	font-size: 14px;	
}

img {
	width: 32px;
	height: auto;

}

.request {
	width:40%;
	min-width: 350px;
}

.request p {
	margin-bottom: 30px;
}



.input {
	width:100%;
	margin-bottom: 15px;
	padding-left:10px;	
	font-size:15px;
	border:1px solid #999;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-family: 'Montserrat', sans-serif;
	height:50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	box-shadow: none;
	-webkit-appearance: none;
}


.input:focus, .textarea:focus {
	outline-color:#222;
	background-color:#f8f8f8;
	background-color: var(--input);
	border:1.2px solid #7f7f7f;
	border:1.2px solid var(--if);
}


::placeholder {
	font-family: 'Montserrat', sans-serif;
}

.textarea {
	font-family: 'Montserrat', sans-serif;
	max-height:300px;
	height: 100px;	
	padding:10px;
	-webkit-box-sizing: border-box;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius:5px;
	border:1px solid #999;
}

.basic-btn {
	width: 100%;
	background-color: var(--main);
	height: 50px;	
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	z-index: 0;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: none;
	color: #fff;
	letter-spacing: 0.75px;
	transition: 0.2s;
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 15px;
}

.resets {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.reset {
	height: 35px;
	background-color: #bfbfbf;
	background-color: var(--grey);
	color: white;
	display: inline-block;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 49%;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:12px;
	transition: 0.3s;
}

.grey {
	display: block;
	text-decoration: none;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #bfbfbf;
	background-color: var(--grey);
	height: 35px;
	font-size:12px;
	color: #fff;
	outline: none;
}

.container {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
}

.container input:checked ~ .checkmark {
	background-color: #231f20;
	background-color: var(--main);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 5.76px;
	top: 3.2px;
	width: 3.2px;
	height: 6.4px;
	border: solid white;
	border-width: 0 1.92px 1.92px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.checkbox-link {
	color: var(--main);
	transition: 0.15s;
	padding: 3px 9px;
	border-radius: 2px;
}

.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  background-color: var(--grey);
  border-radius: 50%;
}

.radio .checkmark:after {
 	top: 5.76px;
	left: 5.76px;
	width: 3.12px;
	height: 3.12px;
	border-radius: 50%;
	background: white;
}

.radios,.checks {
	margin-bottom: 15px;
}


.help-form {
	z-index: 10;
}
.modal-title {
	margin-bottom: 20px;
	font-size: 20px;
	user-select: none;
}

.help-form .input {
	height: 35px;
	font-size: 12px;
	margin-bottom: 10px;
}


.help-form .textarea {
	font-size: 12px;
	border-radius: 5px;
	outline: none;
	margin-bottom: 8px;
}

.help-form .basic-btn {
	height: 35px;
	font-size: 12px;
	margin-top: 0;	
	margin-bottom: 20px;
}
.uploader {
	height: 35px;
	background-color: #bfbfbf;
	background-color: var(--grey);
	margin-bottom: 10px;
	border-radius: 5px;	
	position: relative;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
}
.upload {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	cursor: pointer;
}
.help-texts {
	display: flex;
	justify-content: space-between;
	-ms-align-items: baseline;
	align-items: baseline;
	margin-bottom: 20px;

}
.help-text {
	width: 49%;
	font-size: 12px;
	margin: 0;
}

.help-text:last-child {
	text-align: right;
}

.instruction {
	font-size: 14px;
	color: var(--main);
	text-align: center;
	display: block;

}

.visible {
	display: block;
	opacity: 1;
	transition: 0.15s;
}



.login-wrapper {
	color: white;
	font-size: 14px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 10px;
	height: 100%;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 15px;
}

#login { 
	padding-left: 5px;
}





.digits {
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
	color: #3F7045;
}

.count {
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
	color: var(--main);
}

.green {
	background-color: #3F7045;
	margin-bottom: 10px;
}

.flag__active {
	opacity: 1;
}




.recovery {
	cursor: pointer;
	font-size: 13px;
	width: 100%;
	height: 30px;
	transition: 0.3s;
	user-select: none;
}



.success svg {
	width: 128px;
	height: 128px;
	fill: var(--main);
}

.demo {
	cursor: pointer;
	display: inline-block;
	transition: 0.3s;
	border-bottom: 1px solid transparent;
}

.cookie {
	height: 80px;
	background-color: var(--grey);
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 100;
}


.modal-content__center {
	width: 550px;
	padding: 40px 110px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}

.modal-content__absolute {
	width: 350px;
	height: 450px;
	position: absolute;
	right: 60px;
	top: 45px;
	padding: 10px 20px;
}

.modal-content__login {
	top: 45px;
	width: 270px;
	height: auto;
	position: absolute;
	right: 120px;
	padding: 20px 20px 10px;
}

.modal-title__reset {
	margin-top: 0;
}
.modal-text__small {
	height: 40px;
	font-size: 13px;
}
.basic-btn__login {
	height: 40px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 14px;
	outline: none;
}

span.basic-btn__login {
	height: 30px;
	margin-bottom: 0;
}
span.basic-btn__login+a.basic-btn__login {
	margin-top: 10px;	
}
a.basic-btn__login {
	justify-content: center;
}
.basic-btn__reset {
	margin-bottom: 0;
}


@media (pointer: fine) {
	.nav-link:hover {
	  background-color: #ffffff;
	  color: var(--main);  
	}

	.basic-btn:hover {
		background-color: #404040;
		background-color: var(--hover);
	}

	.reset:hover, .grey:hover, .uploader:hover {
		background-color: #a9a9a9;
		background-color: var(--hover_grey);
	}

	.checkbox-link:hover, .instruction:hover {
		text-decoration: none;
	}

	.checkmark:hover {
		background-color: #ccc;
	}

	.green:hover {
		background-color: #467d4d;
	}

	.flag:hover {
		opacity: 1;
	}

	.login-wrapper:hover, .help:hover {
		color: #bbb;
	}

	.login-wrapper:hover svg, .help:hover svg {
		fill: #bbb;
	}

	.recovery:hover {
		opacity: 0.5;
	}

	#flag-btn:hover {
		opacity: 0.8;
	}

	.demo:hover {
		border-bottom-color: var(--main);
		user-select: none;
	}
}

@media all and (max-width: 999px) {
	.request {
		order: -1;
	}

	.request, .content {
		margin: auto;
		min-width: auto;
		max-width: 600px;
		padding-right: 0;
		width: 60%;
	}
	.box {
		padding: 30px 20px;
	}	
	.content {
		margin-top: 50px;
		width: 100%;
		padding-right: 0;

	}
}

@media all and (max-width: 768px) {
	.request {
		width: 75%;
	}
	 .content {
	 	width: 75%;
	 	text-align: center;
	 }
	.content-point {
		display: flex;
		flex-direction: column; 	
	}

	.icon_title {
		margin-bottom: 4px;
	}

	.logo-image {
		width: 80%;
		height: auto;
	}

	.modal-content {
		width: 80%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (pointer: coarse) {
	html, body {
		cursor: pointer;
	}
}

@media all and (max-width: 480px) {
	.header {
		padding-left: 20px;
		padding-right: 20px;
	}
	.request, .content {
		width: 100%;
	}
	
	.modal-content {
		top: 55px;
		width: 95%;
		left: 2.5%;
		box-shadow: 0 0 30px 4px rgba(0,0,0,0.4)
	}

	.login-name {
		display: none;
	}

	.modal-content {
		width: 95%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.login-wrapper,.flag,.help, #login {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	.login-wrapper,
	.flag+.help {
		margin-left: 3.5%;
	}

	.logo {
		margin-right: 0;
	}
}

