$primary = #68e1fd

body 
    margin 0
    box-sizing border-box
    font-size 15px
    font-family: 'Nunito', sans-serif;
    line-height 1.5

.page 
    box-sizing border-box
    padding 16px
    box-sizing border-box
    background-color #fcfcfc

.main-title 
    font-size 42px
    font-weight 900
    margin-top 24px
    line-height 1.2
    color #222
.color 
    color #6897fd 

.title 
    font-size 22px
    font-weight bold
    margin-bottom 12px
    margin-top 12px

    color rgba(0, 0, 0, 0.8)

.task 
    // border 1px solid $primary
    padding 16px 8px
    box-sizing border-box
    display flex
    justify-content space-between
    align-items center
    border-radius 8px
    background-color #fff
    box-shadow 0 0 10px 0px rgba(0,0,0,0.1)
    & + &
        margin-top 16px
    &-image
        width 60px
        height 60px
        border-radius 50%
        padding 4px
        background-size cover 
        background-position center
        background-color rgba(104, 225,253,0.3);
        background-color rgba(104, 151, 253, 0.3);
        margin-right 8px

    &-box 
        width calc(100% - 70px - 8px)
    &-title
        font-size 17px
        color rgba(0, 0, 0, 0.8)
        font-weight bold
        margin-bottom 8px
        display flex
        align-items center
    &-text  
        font-size 13px
        color rgba(0, 0, 0, 0.8)
        hyphens auto

.time 
    font-size 11px
    color rgba(0, 0, 0, 0.3)
    margin-left 16px
    line-height 1
    margin-top 1px

.progress 
    display flex
    padding 16px 32px
    box-sizing border-box
    border-radius 16px
    // background-color rgba(104, 225,253,0.05)
    background-color #6897fd 
    box-shadow 0 0 10px 0px rgba(0,0,0,0.1)
    justify-content space-between

.wrapper 
    width 60px 
    height 60px
    position relative
    border-radius 50%
    box-sizing border-box
    z-index 0
    display flex
    justify-content center
    align-items center
    color $primary
    color rgba(104, 151, 253, 1);
    color #fff
    & span 
        font-size 10px
        color #fff
    &:after 
        content ''
        position absolute
        border-radius 50%
        border 4px solid rgba(104, 225,253,0.3);
        border 4px solid rgba(104, 151, 253, 0.3);
        border 4px solid rgba(255, 255, 255, 0.3);
        border-radius 50%
        box-sizing border-box
        top 6px
        left 6px
        width calc(100% - 12px)
        height calc(100% - 12px)
        z-index -1

.progress-ring 
    width 100%
    height 100%
    color rgba(104, 151, 253, 1);
    color #fff
    position absolute
    top 0
    left 0
circle
    transform rotate(-10deg)
    z-index 10
    transform-origin 50% 50%

.text 
    font-size 11px
    text-align center
    color #fff
    display block
    margin auto