@media (max-width: 1400px) {
	.header-account-text {
		font-size: 10px;
	}
}

@media (max-width: 1150px) {
	body, html {
		font-size: 9px;
	}

	.header-account-text {
		display: none;
	}
	

	.logo-wrapper {
		width: 50px;
	}

	.screen__first {
		margin-top: 40px;
	}

	.screen__second {
		width: 97%;
	}
}

@media (max-width: 900px) {
	.body-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-wrapper {
		padding-top: 12px;
		padding-bottom: 12px;	
	}
	
	.header-line {
		padding-left: 20px;
		padding-right: 20px;
	}




	.screen {
		max-height: none;
		/*height: auto;*/
		margin-top: 80px;
	}

	.screen__cal {
		margin-top: 80px;
	}
	.screen__offset {
		margin-top: 80px;
	}
	
	.h3 {
		font-size: 1.7rem;
		width: 90%;
		font-weight: 400;
	}

	.title {
		width: 95%;
		font-size: 4rem;
		margin-bottom: 130px;
	}

	.buttons-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.button__line {
		margin-bottom: 12px;
		width: calc(100% - 30px);
		max-width: 500px;
	}

	.wide-screen {
		display: none;
	}

	.header-item {
		width: 25%;
	}

	.buttons-wrapper {
		position: absolute;
		bottom: 20px;
	}


	.accordion-item {
		flex-wrap: wrap;
	}

	.accordion-item-img {
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}

	.accordion-item-wrapper {
		/*width: calc(100% - 70px);*/
		width: 100%;
		/*padding-bottom: 70px;*/
	}

	.screen__second {
		width: 97%;
	
	}

	.screen__login {
		height: calc(100vh - 140px);		
	}
	.accordion-item-title {
		margin-bottom: 20px;
	}
	

	.nav-wrapper {
		display: none;
	}


	.screen__offset {
		margin-top: 100px;
	}

	.doctor-photo {
		top: 90px;
	}
	.screen__margin0 {
		margin-top: 0;
	}

	.doctor-box {
		padding-left: 0;
		padding-right: 0;
	}

	.doctors {
		/*padding-left: 10px;*/
		/*padding-right: 10px;*/
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 768px) {
		
	.screen {
		margin-top: 55px;
		min-height: auto;
	}

	.screen__login {
		height: calc(100vh - 80px);
		min-height: auto;
	}
	.screen__cal {
		margin-top: 100px;
	}


	.screen-box {
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.slick-prev, .slick-next {
		display: none!important;

	}

	.accordion-line {
		padding-left: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		margin-bottom: 30px;
	}

	.accordion-box {
		padding-left: 0;
		padding-right: 0;
	}

	.slick-slide {
		margin: 0 5px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -5px;
	}

	.screen__offset { 
		padding: 0;
		box-sizing: border-box;
	}

	
	.doctor {
		margin-bottom: 10px;
		width: 100%;
	}	

	.doctor-image {
		height: 120px;
		width: 80px;
		margin-right: 20px;

	}

	.doctor-image img {
		/*max-height: 100%;*/

		/*display: block;*/
		object-fit: contain;
	}

	.doctor-fullname {
		font-size: 13px;
		margin-bottom: 10px;

	}

	.doctor-practice, .doctor-direction {
		display: inline-block;
		font-size: 10px;
		margin: 0;
	}

	.doctor .back-link {
		display: inline-flex;
		align-items: center;
		font-size: 11px;
	}

	.input-row {
		width: 100%;
		max-width: 600px;
		margin: auto;

	}

	.input-row  .input-wrapper {
		margin-bottom: 0;
	} 

}


@media (max-width: 600px) {
	.h3 {
		font-size: 3.5vw;
	}

	.title {
		font-size: 6.5vw;
		margin-bottom: 100px;
	}

	.middle-screen {
		display: none;
	}

	.phone-icon {
		display: block;
	}
	
	.burger-wrapper {
		width: 80px;
	}

	.header-icon-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 80px;
	}

	.header-account-wrapper-logo {
		width: 32px;
		height: 32px;
	}

	.screen-text {
		max-width: 100%;
	}

	.time-item {
		width: calc(100% / 2 - 10px);
	}

	.time-wrapper {
		width: calc(100% - 265px);
	}

	.screen-box {



	}

	.service-button {
		min-width: 100px;
	}

	.service-name {
		font-size: 12px;
	}

	.service-price {
		font-size: 12px;
	}

	.screen__margin0 {
		margin-top: 0;
	}
}

@media (max-width: 480px) {

	.time-item {
		width: calc(100% / 3 - 10px);
	}
	.checks {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row {
		width: 100%;
		box-sizing: border-box;
	}
	.input-wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.input {
		width: 100%;
		min-width: auto;
	}

	input[type='submit'] {
		min-width: auto;
		width: 100%;
	}
	.button {
		width: calc(100% - 20px);
	}
	.button__abs {
		width: 100%;
		left: 0;
		min-width: auto;
	}

	

	.input {
		width: 100%;
	}

	.input-wrapper {
		width: calc(100% - 20px);
	}

	.screen-box {
		flex-wrap: wrap;
		justify-content: center;
	}

	.time-wrapper {
		min-width: 200px;
		width: 100%;
	}

	.button-box {
		flex-wrap: wrap;
	}


	.buttons-cal {
		width: 100%;
	}
	.input-wrapper {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.button__size {
		width: 100%;
	}

	.doctor-box {
		flex-wrap: wrap;
	}

	.doctor-information {
		width: 100%;
	}
	.doctor-photo {
		top: auto;
		position: inherit;
		width: 100%;
	}

	.doctor-photo img {
		margin: auto;
	}	
	.doctor-photo .button {
		width: 100%;
		margin-bottom: 25px;
		margin-top: 30px;
	}
	.screen__margin0 {
		margin-top: 0;
	}

	.button__widely {
		width: 100%;
	}
}


@media (pointer:fine) {
	.back-link:hover span {
		border-color: transparent;
	}

	.back-link:hover svg {
		transform: translateX(-5px);
	}

	.back-link.right:hover svg {
		transform: rotate(180deg) translateX(-5px);
	}
	.offer-box:hover {
		background-color: #8886F9;
		background-color: #d4d3fd;
		background-color: #f0effe;
		background-color: #f5f5fa;
	}

	.offer-box:hover .offer-title {
		/*color: #fff;*/
	} 

	.offer-box:hover .arrow-down {
		transform: translateX(8px) rotate(-90deg);
	} 

	.header-link:hover {
		opacity: 0.6;
	}

	.header-item-link:hover {
		opacity: 0.6;
	}

	.midnav-link:hover {
		opacity: 0.6;
	}
	
	.menu-close-button:hover {
		opacity: 0.6;
	}

	.menu-link:hover {
		opacity: 0.6;
	}

	.menu-link__accent:hover {
		opacity: 0.6;
	}

	.menu-link-v2:hover {
		opacity: 0.6;
	}

	.policy:hover {
		opacity: 0.6;
	}
	.sidenav-burger:hover {
		opacity: 0.6;
	}

	.button:hover {
		background-color: #d7d7d7;
	}

	.button__accent:hover {
		background-color: #6c6af8;
	}

	.header-account:hover {
		opacity: 0.6;
	}

	.go:hover img {
		transform: scale(1.1);
	}
}