disable()
	-webkit-appearance none 
	-moz-appearance none 
	appearance none 
	border none
	-webkit-box-shadow none 
	box-shadow none 
	margin 0
	padding 0
	outline none 
	-webkit-box-sizing border-box 
	-moz-box-sizing border-box 
	box-sizing border-box 
	text-decoration none

	
center()
	display flex
	-webkit-justify-content center
	justify-content center
	-webkit-align-items center
	align-items center
	
font()
	font-family Roboto
	text-decoration none
	color #222
	line-height 1.5
	
text()
	font-size 13px
	font-weight 300
	


margin()
	margin 0
	
margin15()
	margin-top 15px
	margin-bottom 15px

title() 
	font-size 20px
	font-weight 500 
	color #222 


box-width()
	margin-left auto
	margin-right auto
	max-width 1200px
	box-sizing border-box
	padding-left 20px
	padding-right 20px


primary = #8886F9
primary = #0e4194
bg = #fafafa
width = 1300px

hover = #6765CA
hover = #0A1F84
hover = #0A3884

active = #5856AF
black = #1F1F45
light = #CCCBFF
font-size = 15px
red = #cc0000

grey = #dddddd
grey-hover = #e2e2e2



html
	height 100%


body
	margin 0
	min-width 320px
	height 100%
	font-size 14px
	position relative
	font-family Roboto
	color #222 
	box-sizing border-box
	
	background-color bg
	
	
.slide-menu
	margin-top 50px
	
	display flex
	flex-direction column
	flex-wrap wrap

	&__mobile 
		display none
		
	&-overlay
		height 100%
		width 100%
		
		padding 20px 30px
		padding-top 8vh
		
		position absolute
		top 0
		left -30%

		background-color #383838
		
		box-sizing border-box
		
		transition 0.5s ease left
		overflow-y auto
		
		@media screen and (min-width: 480px)
			max-width 400px	

		&-wrapper 
			background-color rgba(0, 0, 0, 0.41)
			width 100%
			height 100%
				
			position fixed
			top 0
			left 0
			
			z-index 999
			
			transition 0.6s
		
	&-link 
		padding 10px 0px
		
		font()
		color #fff
		font-size font-size
		
		@media screen and (min-height: 900px)
			font-size 16px
		
		&-wrapper 
			margin-bottom 7px
			margin-top 7px
		&-box
			margin-bottom 20px
			margin-top 20px
			
		&__opacity
			color #d1d1d1
			font-size 13px
			font-weight 300
			
			@media screen and (min-height: 900px)
				font-size 14px










		
		
.icon
	width 35px
	height 35px
	
	padding 5px
	
	box-sizing border-box
	cursor pointer
	display block
	transition 0.3s
	@media screen and (max-width: 768px)
		width 30px
		height 30px
	@media screen and (pointer: fine)
		&:hover 
			transform scale(1.05)
	&__close
		
		z-index 999
		position absolute
		top 20px
		left 20px
	&__open
		margin-right 4%
	&__button
		width 12px
		height 12px
		padding 0px
		margin-right 6px

		center()
	
	& img 
		max-width 100%
		display block
		height auto
		
	& svg 
		width 100%
		height 100%
		display block
		fill #fff
		
	&-text
		font()
		font-size 12px
		font-weight 300
		@media screen and (max-width: 900px)
			display none
		

.button 
	center()
	disable()
	font()
	
	box-sizing border-box
	transition 0.3s
	
	white-space nowrap
	
	font-size 13px
	font-weight 400
	
	width 200px
	height 42px
	
	background-color grey
	
	// box-shadow 0 0 10px rgba(0,0,0,0.2)
	border 1px solid darken(grey, 10%)
	border-radius 4px
	
	cursor pointer
	user-select none
	-webkit-user-select none
 	
	& span 
		line-height 1
		user-select none
		-webkit-user-select none
	@media screen and (pointer: fine)
		&:hover 
			opacity 0.8

	&__primary
		background-color primary 
		color #fff	
		border: none;
	&__secondary 
		color primary
		border 1px solid primary 
		height 42px
		background-color transparent
		box-shadow none
		background-color #f9f9f9
		background-color #fff
		@media screen and (pointer: fine)
			&:hover 
				opacity 0.6		
	&__small 
		width 170px
		height 45px
		font-size 12px
	&__small-font
		font-size 13px
	&__wide-mobile
		@media screen and (max-width: 480px)
			width 100%
			
	&__js
		transition 1s
		padding-left 0
		padding-right 0
		margin-left 25px
	&__big 
		width 220px
		font-size 14px
		@media screen and (pointer: fine)
			&:hover 
				background-color lighten(primary, 10%)
				opacity 1
	&__huge 
		width 300px
	&__wide 
		width 100%
	&__margin-bottom
		margin-bottom 20px
	
	&-box 
		display flex
		margin-top 40px
		z-index 999

		justify-content center
		&__left 
			justify-content flex-start
			margin-bottom 60px
		@media screen and (max-width: 768px)
			flex-wrap wrap 
			&__first-screen
				position absolute
				bottom 15px
				width 100%
				left 0
			&__left
				margin-bottom 40px
				margin-top 0
			
	&__neighboors + &__neighboors	
		margin-left 12px
		@media screen and (max-width: 768px)
			margin-left 0
	&__neighboors
		@media screen and (max-width: 768px)
			width calc(100% - 40px)
			margin-bottom 7px
		@media screen and (max-width: 480px)
			margin-bottom 5px
			font-size 13px
			height 40px
	&__wide-tablet
		@media screen and (max-width: 768px)
			width 100%
			margin 0
			margin-right 0!important
			margin-bottom 10px
			
		
	

		
	@media screen and (pointer: fine)
		&__big&__secondary:hover
			background-color darken(#fff, 10%)
	
		

.link 
	disable()
	font()
	color primary
	font-size 15px
	display inline-block
	transition 0.3s
	font-weight 500


	@media screen and (pointer: fine)
		&:hover 
			color lighten(primary, 10%)
	&__bold 
		font-size 16px
	&__title
		font-size font-size * 1.5
		margin-bottom 10px










.header 
	position fixed
	top 0
	padding-top 10px
	padding-bottom 10px
	width 100%
	background-color #fff
	z-index 10
	left 0
	
	box-shadow 0 5px 10px 0 rgba(0,0,0,0.1)
	@media screen and (max-width: 900px)
		padding-top 15px
		
	&-nav
		box-width()

		display flex
		justify-content space-between
		align-items center
		
		&-logo 
			max-width 100%
			display block
			&-wrapper 
				width 50px
				transition 0.3s
				@media screen and (max-width: 768px)
					width 45px
				@media screen and (pointer: fine)
					&:hover 
						transform scale(1.02)
		&-link
			font()
			font-size 14px
			
			
			@media screen and (max-width: 900px)
				font-size 13px
			&-text
				font-size 12px
				text-align right
				font-weight 300
				@media screen and (max-width: 768px)
					display none
			&__phone
				font-weight 500
				font-size font-size 
				text-align right
				color primary
				@media screen and (max-width: 900px)
					font-size 13px
			&-wrapper
				width 15%
				@media screen and (max-width: 600px) 
					&__middle
						display none
				@media screen and (max-width: 900px) 
					&__large
						display none
					width 25%
			@media screen and (pointer: fine)
				&:hover 
					color primary
		&-icons 
			margin-left 0
			@media screen and (min-width: 768px)
				&__middle
					display none
				margin-left 4%
			&__right
				margin-right 5%
			&__left
				margin-left 5%
			
				
		&-icon 
			font()
			&__phone
				@media screen and (min-width: 600px)
					display none


	&-mid
		padding-top 25px
		padding-bottom 10px
		
		overflow-x hidden
		transition 0.3s 
		
		z-index 10
		
		box-width()
		
		overflow-x auto
		font-size font-size 
		position relative
		@media screen and (max-width: 768px)
			&:after 
				content ''
				position fixed
				right 0
				top 45px
				width 25px
				background linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,1))
				height 40px

		&__sticky
			position sticky
			position -webkit-sticky
			top 75px
			
		@media screen and (max-width: 600px)
			padding-top 15px
			padding-bottom 5px
			

		&-nav 
			min-width 100%
			height 100%
			
			display inline-flex 
			justify-content space-between
			align-items center
			
			white-space nowrap
			
			
			&-link 
				padding-left 12px
				padding-right 12px
				font-size 14px
				&:first-child
					padding-left 5px
				&:last-child
					padding-right 5px

				font()
				@media screen and (max-width: 900px)
					font-size 13px
				@media screen and (max-width: 600px)
					font-size 12px
				@media screen and (pointer: fine)
					&:hover 
						color primary








.breadcrumbs
	display flex
	align-items baseline
	&-link 
		disable()
		font()
		color primary 
		font-size 11px
		@media screen and (max-width: 480px)
			margin-bottom 10px


	& svg 
		display inline-block
		fill #666
		width 12px
		height 8px
		padding-left 7px
		padding-right 7px
		margin-top 2px
	@media screen and (max-width: 480px)
		flex-wrap wrap 
		








.main 
	padding-top 130px + 40px
	padding-bottom 40px
	box-width()
	@media screen and (max-width: 900px)
		padding-top 110px + 40px
		
	@media screen and (max-width: 600px)
		padding-top 90px + 40px








.input 
	disable()

	height 45px
	width 200px

	font-family Roboto
	border 1px solid primary
	font-size 15px
	font-weight 400
	color primary

	padding-left 10px
	border-radius 4px
	box-shadow 0 0 10px rgba(0,0,0,0.0.05)
	
	&:focus
		background-color #fcfcfc
		border-color hover

	&-label 
		font-size 10px
		display block
		color primary
		font-weight 400
		margin-bottom 1px
		opacity 0
		transition 0.5s


	&__error
		border 1px solid red
		color red
		&::placeholder
			color red
		&-label 
			color red
		&:focus
			border-color red
	&__wide-mobile
		@media screen and (max-width: 480px)
			width 100%

::placeholder
	font-family Roboto
	color primary
	font-size 13px





	

.text
	disable()
	font()
	font-weight 300
	font-size font-size
	letter-spacing 0.3px
	margin-top calc(1em / 2)
	margin-bottom calc(1em / 2)
	text-align justify
	hyphens auto
	-moz-hyphens auto
	-webkit-hyphens auto
	-ms-hyphens auto
	@media screen and (max-width: 900px)
		&__only-desktop
			display none
	&__offset-bottom
		margin-bottom 30px
	&__primary
		color primary 
		font-weight 400
	&__center
		text-align center
		font-size 14px
		margin-bottom 10px
	&__bold 
		font-weight 500
		font-size font-size * 1.2
	&__offset-all
		margin-top 20px
		margin-bottom 20px
	&-box 
		margin-bottom 20px
	&__mobile-scale
		font-size 16px
.title
	disable()
	font()
	font-weight 500
	font-size font-size * 1.75
	hyphens auto
	-moz-hyphens auto
	-webkit-hyphens auto
	-ms-hyphens auto
	margin-top 1em
	margin-bottom 1em
	letter-spacing 0.3px
	@media screen and (max-width: 600px)
		margin-bottom 0.8em	
		margin-top 0.8em
	&__no-margin-top 
		margin-top 0
	&__half-margin-bottom
		margin-bottom 0.5em
	@media screen and (max-width: 480px)
		font-size font-size * 1.5

		
.subtitle
	disable()
	font()
	font-weight 500
	font-size font-size * 1.25
	display block
	margin-top 1em
	margin-bottom 1em
	transition 0.3s
	hyphens auto
	-moz-hyphens auto
	-webkit-hyphens auto
	-ms-hyphens auto
	&__none-top-offset
		margin-top 0
		
	@media screen and (pointer: fine)
		&__primary-hover
			&:hover 
				color primary


.image 
	width calc(100% / 4 - 10px)
	height 200px
	background-image url('../img/PhilipsIngenia-obp.jpg')
	background-size cover
	background-position center
	border-radius 4px
	margin-bottom 15px
	position relative
	padding 10px
	box-sizing border-box
	
	center()
	&-text 
		color: #fff
		font-weight 400
		z-index 1
		opacity 0
		transition 0.3s
		text-align center
		font-size 15px
		webkit-user-select none 
		user-select none
		
	&:after
		content: ''
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		background-color rgba(0,0,0,0.5)
		background-color #0e4194a1
		opacity 0
		transition 0.3s
	&-info 
		padding-top 10px
		text-align center
		font-size 13px
	&__hover 
		cursor pointer
	@media screen and (max-width: 900px)
		width calc(100% / 2 - 5px)
		margin-bottom 10px
	@media screen and (max-width: 480px)
		width 100%
	@media screen and (pointer: fine)
		&__hover:hover
			&:after
				opacity 1
		 &__hover:hover &-text 
			opacity 1
			
	&-box 
		display flex
		flex-wrap wrap 
		justify-content space-between
		@media screen and (max-width: 768px)
			margin-bottom 20px!important
	&__modal
		width 100%
		height 100%
		&-box 
			height: calc(900px / 16 * 9);
			@media screen and (max-width: 600px)
				height auto
		@media screen and (max-width: 600px)
			width 100%
			height calc(100vw / 16 * 9)
.opacity
	opacity 1

.flex-wrapper 
	display flex
	align-items baseline





.item
	display flex
	align-items flex-start
	align-items center
	justify-content space-between
	
	box-sizing border-box
	padding 30px 20px
	min-height 280px
	
	background-color #fff
	box-shadow 0 0 10px 0 rgba(0,0,0,0.1)
	
	border-radius 4px
  
	&-img 
		width 300px
		height 200px
		background-image url('../img/Диагностика.jpg')
		background-size cover
		background-position center
		border-radius 2px
		transition 0.3s
		@media screen and (pointer: fine)
			&:hover 
				opacity 0.7
	&-wrapper
		width calc(100% - 320px)
	&-link
		disable()
		font()
		center()
		display inline-flex
		margin-top 11px
		color primary
		border-bottom 1px solid transparent
		transition 0.3s
		& svg
			width 18px
			height 18px
			transform rotate(180deg)
			margin-left 10px
			fill primary
			transition 0.3s
			display block
			padding-left 5px
		@media screen and (pointer: fine)
			&:hover 
				border-bottom-color primary
				& svg
					transform translateX(5	px) rotate(180deg)
	@media screen and (max-width: 900px)
		flex-wrap wrap
		&-img 
			width 100%
			height 300px
			margin-bottom 30px
		&-wrapper
			width 100%
		&-link 
			margin-top 0
	@media screen and (max-width: 480px)
		&-img 
			height 200px
					






.filter		
	&-wrapper
		display flex
		align-items center
		justify-content space-between
		@media screen and (max-width: 600px)
			flex-wrap wrap
			& .button 
				order 3
				margin-top 20px
		@media screen and (max-width: 480px)	
			flex-wrap wrap
	&-box
		display flex
		align-items center
		width: calc(100% - 140px);
		@media screen and (max-width: 600px)
			flex-wrap wrap
			
		@media screen and (max-width: 480px)
			width 100%
	&-select
		&-wrapper
			display flex
			width 60%
		
		@media screen and (max-width: 1000px)
			&-wrapper 
				flex-wrap wrap 
				width 70%
				max-width 350px
			width 100%
			max-width 350px
			
			& + &
				margin-top 10px
		@media screen and (max-width: 1000px)
			&-wrapper 
				width 100%
				
		@media screen and (max-width: 600px)
			margin-right 0
			&-wrapper 
				margin-bottom 20px
		@media screen and (max-width: 480px)
			&-wrapper 
				width 100%
				max-width none 
			max-width none 
			
			

		disable()
		margin-right 30px
		position relative
		font-family Roboto
		width 50%
		white-space nowrap
		user-select none
		-webkit-user-select none
		max-width 280px

		& select 
			display none
		&-selected
			background-color #fff
			width 100%
		&-selected:after
			position absolute
			content ''
			top 19px
			right 12px
			width 0
			height 0
			border 6px solid transparent 
			border-color primary transparent transparent transparent
		&-selected&-arrow-active:after 
			top 12px
			border-color: transparent transparent primary transparent;
		&-items div, &-selected 
			disable()
			font()
			padding 12px 16px
			border 1px solid primary 
			cursor pointer
			font-size 13px 
			font-weight 300
		&-items div
			border-bottom-color transparent
		&-items div:first-child
			border-top-color transparent
		&-items div:last-child
			border-bottom-color primary
		&-items 
			position absolute
			background-color #fff
			top 100%
			left 0
			right 0
			z-index 999
			width 100%
		&-hide 
			display none
		@media screen and (pointer: fine)
			&-items div:hover, &-same-as-selected
				background-color #f1f1ff
	&-switch
		font-size 6px
		position relative
		display inline-block
		disable()
		width 9em	
		height 4.6em
		line-height 4.6em
		border-radius 2.3em 
		box-shadow inset 0 0 0 0.2em #eee
		outline: 1px solid transparent !important
		cursor pointer
		box-sizing border-box
		-webkit-tap-highlight-color transparent
		user-select none
		-webkit-user-select none
		-webkit-touch-callout none
		transition box-shadow .3s ease-in-out, padding .25s ease-in-out
		transition-delay .1s, 0s
		&:checked 
			transition-delay 0s, 0s
			box-shadow inset 0 0 0 2.62857em primary !important
			padding-left 4.4em
		&.hit 
			animation slide-off .35s ease both
			&:checked
				animation slide-on  .35s ease both .05s
		&::before 
			content ''
			display inline-block
			height 4.6em
			width 4.6em
			margin 0
			background-color #fff
			border-radius 2.1em
			box-shadow 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1)
			transition all .1s ease .1s
		&::after 
			content ''
			position absolute
			top -1.4em
			left -1.4em
			bottom -1.4em
			right -1.4em
		&:active::before	
			transition all .1s ease .05s
		&.touch:hover::before
			 transition all .0s ease .00s
		&:active::before, &.touch:hover::before
			width 5em
		&:active:checked::before, &.touch:hover:checked::before
			margin-left -0.6em
			

		&-wrapper 
			display flex
			align-items center
			margin-right 30px
		@media screen and (max-width: 1000px)
			&-wrapper
				flex-wrap wrap
				
		@media screen and (max-width: 900px)
			&-wrapper
				width 140px
				margin-right 20px

			&-box + &-box
				margin-top 10px
		@media screen and (max-width: 600px)
			&-wrapper 
				width 100%
				margin-right 0
				

			&-box + &-box 
				margin-top 0
				margin-left 20px
			
		&-box 
			display flex
			align-items center
			margin-right 20px
			& span 
				display inline-block
				margin-left 10px
				font-size 13px
				font-weight 300	
			@media screen and (max-width: 480px)
				margin-right 0
	&-reset
		color primary
		font()
		font-size 14px
		user-select none
		-webkit-user-select none
		cursor pointer
		text-decoration underline
		@media screen and (max-width: 480px)
			order: -1 
			width 100%
			margin-bottom 20px	
@keyframes slide-on {
  0% {
    padding-left: 0em;
  }
  60% {
    padding-left: 4.8em;
  }
  100% {
    padding-left: 4.4em;
  }
}
@keyframes slide-off {
  0% {
    padding-left: 4.4em;
    text-indent: 0;
  }
  60% {
    padding-left: 0em;
    text-indent: -0.4em;
  }
  100% {
    padding-left: 0em;
    text-indent: 0;
  }
}



	



.doctor 
	width calc(100% / 5 - 16px)
	margin-bottom 40px
	margin-left 10px
	margin-right 10px
	&__float
		border-radius 4px
		float left 
		margin-right 30px
		margin-bottom 20px
		box-shadow 0 0 10px 2px rgba(0,0,0,0.2)
		padding 20px
		background-color #fff
	
	&:nth-child(5n) 
		margin-right 0
	&:nth-child(6n), &:first-child
		margin-left 0
		
	
	&__wide 
		width 100%
		margin-left 0
		margin-right 0
	&__no-margin-bottom
		margin-bottom 0
	&__mobile-shadow
		background #fff
		padding 35px 20px
		box-shadow 0 0 10px 0 rgba(0,0,0,0.2)
		box-sizing border-box
		border-radius 4px
	&-box
		display flex
		flex-wrap wrap
		margin-top 40px 

	&-image
		width 100%
		height 290px
		background-image url('../img/emelyanenko.jpg')
		background-size cover 
		background-position top center 
		background-repeat no-repeat
		display block
		transition 0.3s
		margin-bottom 15px
		@media screen and (max-width: 480px)
			width 200px
			margin-left auto
			margin-right auto
	&-name 
		font()
		disable()
		font-size 15px
		font-weight 500
		margin-bottom 10px 
		margin-top 10px
		height 15px * 2 * 1.5
		display block
			
	&-direction 
		font() 
		disable()
		font-size 13px
		font-weight 300
		margin-top 10px
		margin-bottom 10px
	&-exp 
		font()
		disable()
		color primary
		font-size 13px
		font-weight 500
		margin-top 10px
		margin-bottom 15px
	&-info 
		font()
		font-size 13px
		font-weight 300
		color #777
		margin-bottom 15px
		min-height 13px * 4 * 1.5
		@media screen and (max-width: 1100px)
			min-height 13px * 5 * 1.5
		@media screen and (max-width: 90px)
			min-height 13px * 4 * 1.5
		@media screen and (max-width: 600px)
			min-height 13px * 3 * 1.5
		@media screen and (max-width: 480px)
			min-height auto
	@media screen and (max-width: 1000px)
		width calc(100% / 4 - 18px)
		&:nth-child(5n) 
			margin-right 10px
		&:nth-child(6n), &:first-child
			margin-left 10px
		&:nth-child(4n) 
			margin-right 0
		&:nth-child(5n), &:first-child
			margin-left 0
	@media screen and (max-width: 1000px)
		width calc(100% / 4 - 18px)
		&:nth-child(5n) 
			margin-right 10px
		&:nth-child(6n), &:first-child
			margin-left 10px
		&:nth-child(4n) 
			margin-right 0
		&:nth-child(5n), &:first-child
			margin-left 0
	@media screen and (max-width: 768px)
		width calc(100% / 3 - 14px)
		&:nth-child(4n) 
			margin-right 10px
		&:nth-child(5n), &:first-child
			margin-left 10px
		&:nth-child(3n) 
			margin-right 0
		&:nth-child(4n), &:first-child
			margin-left 0
	@media screen and (max-width: 600px)
		width calc(100% / 2 - 13px)
		&:nth-child(3n) 
			margin-right 10px
		&:nth-child(4n), &:first-child
			margin-left 10px
		&:nth-child(2n) 
			margin-right 0
		&:nth-child(3n), &:first-child
			margin-left 0
	@media screen and (max-width: 480px)
		width 100%
		margin-left 0
		margin-right 0
		text-align center
		
		&-name
			font-size 15px
		&-image 
			width 240px
			border-radius 4px 
			box-shadow 0 0 10px 0 rgba(0,0,0,0.2)
		& .button 
			width 240px
			margin-left auto
			margin-right auto


		

.footer 
	box-width()
	
	display flex 
	justify-content space-between
	
	@media screen and (max-width: 768px)
		flex-wrap wrap
		
	&-wrapper
		padding-top 40px
		padding-bottom 40px
		box-sizing border-box
		
		box-shadow 0 -4px 10px rgba(0,0,0,0.1)
		
		background-color #fff

	&-column 
		width calc(100% / 4 - 20px)
		max-width 240px
		


		& + &
			margin-left 15px
			
		&-title 
			font()
			font-weight 400
			font-size 16px
			margin-bottom 20px
			@media screen and (max-width: 768px)
				font-size 14px
			
		&-text 
			font()
			font-weight 300
			transition 0.2s
			margin-top calc(1em * 2 / 3)
			margin-bottom calc(1em * 2 / 3)
			
			display block
			
			font-size 14px
			
			@media screen and (max-width: 768px)
				font-size 13px
			
		&-link 
			font()
			color primary
			font-weight 300
			transition 0.2s
			margin-top calc(1em * 2 / 3)
			margin-bottom calc(1em * 2 / 3)
			
			display block
			
			font-size 14px
			
			@media screen and (max-width: 768px)
				font-size 13px
			

		&-logo 
			width 70px
			height 49px
	

			margin-bottom 20px
			& img 
				width 70px
				height 49px
				

		@media screen and (max-width: 768px)
			width calc(100% / 2 - 5px)
			margin-bottom 30px
			& + &
				margin-left 0
				

		&-social-link

			&-wrapper
				margin-top 15px
				display inline-flex
				justify-content space-between

			border-radius 50%
			padding 7px
			border 2px solid primary
			
			margin-right 7px
			background-color #fff
			transition 0.2s
			&-image 
				width 18px
				height 18px
				display block
				fill primary
				transition 0.2s
			&:last-child
				margin-right 0
			














.photo 
	border-radius 4px
	&-box
		width 100%


	&-wrapper
		width calc(100% / 3)
		
	background-size cover
	background-position center
	height 400px
	width calc(100% - 200px)

	margin-left auto
	margin-right auto
	display block
	@media screen and (max-width: 768px)
		width 100%
		height 400px
	@media screen and (max-width: 480px)
		height 240px
.slick-arrow
	disable()
	font()
	background-color transparent
	width 30px
	height 30px
	top calc(50% - 15px)
	position absolute	
	z-index 3
	& img 
		height 20px
		width 20px
		cursor pointer
		transition 0.3s
		@media screen and (pointer: fine)
			&:hover 
				transform scale(1.1)
	@media screen and (max-width: 768px)
		display none!important
		
.slick-next 
	right 0
.slick-prev
	left 0
.slick-dots 
	disable()
	list-style none 
	display flex
	justify-content center
	margin-top 20px
	





.slick-dots
{

	margin-top: 20px;

    display: block;

    width: 100%;
    padding: 0;


    list-style: none;

    text-align: center;
}


.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}


.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
	border-radius: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-size: 0px;
    line-height: 20px;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 10px;
    height: 10px;

    content: '•';
    opacity: .25;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 50%;
    background-color: #444;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
}





.modal 
	display none
	&.is-open
		display block
	&__overlay
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background-color rgba(0,0,0,0.5);
		center()
		z-index 999
	&__container 
		background-color #fff
		padding 40px
		box-sizing 
		padding 40px
		padding-bottom 15px
		max-height 100vh
		max-width 800px
		width 95%
		margin-left auto
		margin-right auto
		box-sizing border-box
		height auto
		border-radius 4px
		overflow-y auto 
		position relative
		@media screen and (max-width: 600px)
			height auto
			max-height none
			padding-right 5px
			padding-left 5px
			padding-top 40px
			padding-bottom 15px
	&__close 
		disable()
		background transparent
		position absolute
		right 17px
		top 17px
		z-index 100
		cursor pointer
		&:before 
			content "\2715"
			font-size 20px
		@media screen and (max-width: 600px)
			top 10px
			right 10px













.content-wrapper 
	display flex
	justify-content space-between
	position relative
	@media screen and (max-width: 768px)
		flex-wrap wrap
	@media screen and (max-width: 480px)
		margin-top 10px
		
.sidebar 
	width 190px
	margin-top 35px

	@media screen and (max-width: 768px)
		width 100%
		margin-bottom 30px
	@media screen and (max-width: 480px)
		margin-bottom 15px
		margin-top 20px
		

.content 
	width calc(100% - 220px)
	@media screen and (max-width: 768px)
		width 100%


.sidebar
	&-menu 
		position sticky 
		position -webkit-sticky 
		top 30px + 120px
		&__margin-top
			margin-top 20px
		&-link 
			disable()
			font()
			display block
			padding-top 6px
			padding-bottom 6px
			font-weight 300
			font-size 13px
			&:before
				content '\2192'
				padding-right 5px
			@media screen and (max-width: 480px)
				font-size 15px
				padding-top 8px
				padding-bottom 8px
				&:first-of-type
					color primary 
		@media screen and (max-width: 768px)
			position relative
			top auto


.row 
	display flex
	justify-content space-between
	padding-top 10px
	padding-bottom 10px
	padding-left 8px
	padding-right 8px
	border 1px solid #ccc
	border-bottom none
	align-items center
	&:nth-child(2n)
		background-color #fff
	&:last-child
		border-bottom 1px solid #ccc
	&-item 
		font-size 13px
		&__bold 
			font-weight 500
			white-space nowrap
			padding-left 15px
	


.first-screen
	height calc(100vh - 110px)
	padding-top 110px
	width 100vw

	background transparent
	// background-image url('../img/DSC_3115++-min.jpg')
	// background-size cover 
	// background-position center
	position relative
	box-sizing border-box
	center()
	flex-wrap wrap
	align-content center
	@media screen and (max-width: 480px)
		padding-top 90px
	&-title 
		color #fff
		margin-top 0
		margin-bottom 10px
		font-size 60px
		z-index 2
		position relative
		text-align center
		color primary
		font-family: 'Rubik', sans-serif;
		font-weight 700
		width 100%
		@media screen and (max-width: 1000px)
			font-size 42px
		@media screen and (max-width: 768px)
			font-size 32px
		@media screen and (max-width: 480px)
			font-size 7.2vw
	&-box 
		z-index 2
		width 100%
		padding-top 150px
		padding-bottom 150px
		background-image url('../img/Group 9.png')
		background-size 100% 100% 
		background-position center top 
		background-repeat no-repeat
		@media screen and (max-width: 480px)
			padding-top 65px
			padding-bottom 65px
			background-size cover
		@media screen and (max-width: 768px)
			margin-bottom 80px
	&-text 
		font-weight 400
		color primary

		font-size 16px
		text-align center
		width 95%
		line-height 1.5
		z-index 999

		&__primary 
			margin-top 15px
			font-size 16px
		@media screen and (max-width: 768px)
			font-size 12px
			&__primary
				font-size 14px
				font-weight 500


.slider
	&-box 
		// padding 0 55px
		box-sizing border-box
		&-wrapper 
			animation fadeEffect 1s
	&-screen 
		margin-top 50px
		margin-bottom 50px
		@media screen and (max-width: 480px)
			margin-top 10px
	&-tab
		width 100%
		margin-bottom 40px
		&-item 
			border-bottom 1px solid transparent
			display inline-block
			padding-bottom 5px
			font-size 16px
			font-weight 500
			cursor pointer
			color #222
			color primary
			transition 0.3s
			& + &
				margin-left 15px
			&__active
				border-bottom-color primary
			@media screen and (pointer: fine)
				&:hover 
					border-bottom-color primary
			
	&-item 
		display flex
		align-items flex-start
		position relative
		height 100%
		margin-bottom 30px
		&-img 
			width 50%
			height 300px
			background-color #eee
			border 1px solid #999
			margin-right 40px
			background-size cover 
			background-repeat no-repeat
			background-position center
		&-wrapper 
			width 100%
			position relative
		&-text
			width calc(50% - 20px)



.specialist
	&-box 
		display flex
		justify-content space-between
		margin-bottom 50px
		
	&-column 
		width calc(100% / 4 - 20px)
	&-link 
		disable()
		font()
		color primary
		font-size 16px
		display inline-block
		transition 0.3s
		font-weight 400
		padding-top 4px
		letter-spacing 0.3px
		padding-bottom 4px


		@media screen and (pointer: fine)
			&:hover 
				color #c61a1c
		&__bold 
			font-size 16px
		&__title
			font-size font-size * 1.5
			margin-bottom 10px
	@media screen and (max-width: 480px)
		&-box
			flex-wrap wrap
		&-column
			width 50%
			&__1, &__2
				padding-bottom 20px
				border-bottom 1px solid primary
			&__3, &__4
				padding-top 20px
			&__2
				order 2
			&__1
				order 1
			&__3
				order 3
			&__4
				order 4
		&-link 
			padding-right 10px
			box-sizing border-box


.wrapper-image 
	margin-top 40px
	margin-bottom 40px
	& img 
		max-width 100%
















@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
